<app-top-menu></app-top-menu>

<div class="container bg-white mt-5 pl-5 pr-5 mb-5">

<div class="row pt-5 pb-5">
    <div class="col-sm-12">
    <h1 class="title">Web Java developer Tools</h1>
    </div>
</div>
    

<!--start block of step-->
<div class="block-step">
<div class="row"><h3>Web development</h3></div>
<div class="row">
        <p class="col-sm-12">Install all tools for web development.</p>
</div>    

<div class="row">
    <div class="col-sm-12 code pl-1-important"><code class="text-dark">yaourt -S jdk8-openjdk eclipse-jee docker docker-compose redis mongodb-bin chromium kafka visual-studio-code-bin nodejs </code></div>
</div>

             
        
<!--end block of step-->



</div>