<app-top-menu></app-top-menu>

<div class="container bg-white mt-5 pl-5 pr-5 mb-5">

<div class="row pt-5 pb-5">
    <div class="col-sm-12">
    <h1 class="title">Pleasure for eyes</h1>
    </div>
</div>
    

<!--start block of step-->
<div class="block-step">
<div class="row"><h3>Conclusion configuration to Arch.</h3></div>
<div class="row">
        <p class="col-sm-12">Pacman is really pacman. Add next line, to file "/etc/pacman.conf", under comment "#Misc options"</p>
</div>    

<div class="row">
    <div class="col-sm-12 code pl-1-important"><code class="text-dark">ILoveCandy </code></div>
</div>


    
<div class="row">
    <p class="col-sm-12">Display  info about system.</p>
</div>    

<div class="row">
<div class="col-sm-12 code pl-1-important"><code class="text-dark">yaourt -S archey4</code></div>
    <div class="col-sm-12 code pl-1-important"><code class="text-dark">archey</code></div>

</div>   

<div class="row">
        <p class="col-sm-12">Games</p>
    </div>    
    
    <div class="row">
        <div class="col-sm-12 code pl-1-important"><code class="text-dark">yaourt -S nethack</code></div>
    
    </div>   





</div>