<app-top-menu></app-top-menu>

<div class="container bg-white mt-5 pl-5 pr-5 mb-5">

<div class="row pt-5 pb-5">
    <div class="col-sm-12">
    <h1 class="title">SIMPLE LOGIN MANAGER</h1>
    </div>
</div>
    

<!--start block of step-->
<div class="block-step">
<div class="row"><h3>SLIM</h3></div>
<div class="row">
        <p class="col-sm-12">Install slim</p>
</div>    

<div class="row">
    <div class="col-sm-12 code pl-1-important"><code class="text-dark">
        There is good guid
         <a target="blank" href="https://wiki.archlinux.org/index.php/SLiM_(%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9)">Guide, how install SLIM</a>

    </code></div>
</div>

<div class="row  mt-3 pb-5">
        <button (click)="downloadFile('slim.conf.txt')" class=" btn btn-primary mr-3 mb-2">Download "/etc/slim.conf"</button>         
</div>            
        
<!--end block of step-->



</div>