<div class="outer_container height-100-vh">
    <div class="container pt-5 pb-5">
      <div class="text-center pb-5">
        <div class="pagination-centered pb-5">
  
  
      <div class="pt-5 row ">
        
        <div (click)="goLesson1()" class="col-sm-4 mb-3">
            <div  class="card opacity-08">
              <div class="card-header">Lesson 1</div>
           <div class="card-body">
              <h5 class="card-title">Install Arch Linux</h5>
           </div>
            </div>
        </div>
  
    <div (click)="goLesson2()"  class="col-sm-4 mb-3">
        <div class="card opacity-08">
          <div class="card-header">
            Lesson 2
          </div>
          <div class="card-body">
              <h5 class="card-title">tuning arch after installation</h5>
          </div>
        </div>
      </div>
  
    <div (click)="goLesson3()"  class="col-sm-4 mb-3">
      <div class="card opacity-08">
        <div class="card-header">
          Lesson 3
        </div>
        <div class="card-body">
            <h5 class="card-title">Install i3 + tuning status bar</h5>
        </div>
      </div>
    </div>
  
  </div>

  
  <div class="pt-5 row">
  
      <div (click)="goLesson4()"  class="col-sm-4 mb-3">
          <div class="card opacity-08">
            <div class="card-header">
              Lesson 4 (optional)
            </div>
            <div class="card-body">
              <h5 class="card-title">Install and toggling all need software for web development</h5>
            </div>
          </div>
        </div>
  
      <div (click)="goLesson5()"  class="col-sm-4 mb-3">
      <div class="card opacity-08">
        <div class="card-header">
          Lesson 5
        </div>
        <div class="card-body">
          <h5 class="card-title">Install slim(SIMPLE LOGIN MANAGER)</h5>
        </div>
      </div>
    </div>
  
    <div (click)="goLesson6()"  class="col-sm-4 mb-3">
        <div class="card opacity-08">
          <div class="card-header">
            Lesson 6
          </div>
          <div class="card-body">
            <h5 class="card-title">Install funny things, tricks to arch linux for pleasure of eyes</h5>
          </div>
        </div>
      </div>
  
  
  </div>
  

  <div class="pt-5 row">
  
      <div (click)="goLesson7()"  class="col-sm-4 mb-3">
          <div class="card opacity-08">
            <div class="card-header">
              Lesson 7
            </div>
            <div class="card-body">
              <h5 class="card-title">TimeZone, screen-shot, Archive manager</h5>
            </div>
          </div>
        </div>
  
      <div (click)="goLesson8()"  class="col-sm-4 mb-3">
      <div class="card opacity-08">
        <div class="card-header">
          Lesson 8
        </div>
        <div class="card-body">
          <h5 class="card-title">USB-stick</h5>
        </div>
      </div>
    </div>
  
    <div (click)="goLesson9()"  class="col-sm-4 mb-3">
        <div class="card opacity-08">
          <div class="card-header">
            Lesson 9
          </div>
          <div class="card-body">
            <h5 class="card-title">Manual commands</h5>
          </div>
        </div>
      </div>
  
  
  </div>

      </div>
    </div>
  </div>
</div>

  
  <router-outlet></router-outlet>
  