<app-top-menu></app-top-menu>

<div class="container bg-white mt-5 pl-5 pr-5 mb-5">

<div class="row pt-5 pb-5">
    <div class="col-sm-12">
    <h1 class="title">Manual commands</h1>
    </div>
</div>
    

<!--start block of step-->
<div class="block-step">
<div class="row"><h3>Commands Arch linux</h3></div>


  

<div class="row">
    <p class="col-sm-12">Mount external drive, not designed for windows</p>
</div>    


<div class="row">
<div class="col-sm-12 code pl-1-important"><code class="text-dark">fsck /dev/sda1</code></div>
</div>  
 
<div class="row">
<div class="col-sm-12 code pl-1-important"><code class="text-dark">sudo ntfs-3g /dev/sdb /run/media/banan</code></div>
</div>  

  
<div class="row">
    <p class="col-sm-12">Delete folder "test"</p>
</div>    

<div class="row">
<div class="col-sm-12 code pl-1-important"><code class="text-dark">rm -rf test</code></div>
</div>  

<div class="row">
        <p class="col-sm-12">Copy folder from source to target</p>
    </div>    
    
    <div class="row">
    <div class="col-sm-12 code pl-1-important"><code class="text-dark">cp [Source] [Target]</code></div>
    </div>  

  
  
<!--start block of step-->
<div class="block-step">
<div class="row"><h3>Automatically connect wifi on boot</h3></div>

<div class="row">
    <p class="col-sm-12">You should use netctl. It is the Arch Linux built in network management system. If it isn't already installed (it should be though), run </p>
</div>    

<div class="row">
<div class="col-sm-12 code pl-1-important"><code class="text-dark">pacman -Syu netctl</code></div>
  <div class="col-sm-12 code pl-1-important"><code class="text-dark">cd /etc/netctl/</code></div>
<div class="col-sm-12 code pl-1-important"><code class="text-dark">cp /etc/netctl/example/wireless-wpa /etc/netctl/somedescriptivename</code></div>

</div>  

<div class="row">
        <p class="col-sm-12">then edit /etc/netctl/somedescriptivename</p>
    </div>    
    
    <div class="row">
    <div class="col-sm-12 code pl-1-important"><code class="text-dark">systemctl enable netctl-auto@wlan0.service</code></div>
    </div>  

  
 <!--start block of step-->
<div class="block-step">
<div class="row"><h3>Some notes to yourself about web</h3></div>
   
  
<div class="row">
    <p class="col-sm-12">Use "Spark Builder Generator" instead lombok, cuz it is simplify project and do project more mobile, dynamic</p>
</div>    

  
<div class="row">
    <p class="col-sm-12"> Locate jar file of plug-in on arch-linux in next path "/usr/lib/eclipse/plugins"</p>
</div>    

  <div class="row">
    <p class="col-sm-12">For generate builder "Spark Builder Generator" use ctr_shift_B</p>
</div>    
  
</div>
  
  
   <!--start block of step-->
<div class="block-step">
<div class="row">
  <h3>Media transfer protocol, for working with USB-stick or connect phone or connect external disk</h3>
</div>
   
<div class="row">
    <p class="col-sm-12"> yaourt -S gvfs-mtp </p>
</div>    
  
</div>

