<app-top-menu></app-top-menu>

<div class="container bg-white mt-5 pl-5 pr-5 mb-5">

<div class="row pt-5 pb-5">
    <div class="col-sm-12">
    <h1 class="title">Manual commands</h1>
    </div>
</div>
    

<!--start block of step-->
<div class="block-step">
<div class="row"><h3>Commands Arch linux</h3></div>



<div class="row">
    <p class="col-sm-12">Delete folder "test"</p>
</div>    

<div class="row">
<div class="col-sm-12 code pl-1-important"><code class="text-dark">rm -rf test</code></div>
</div>  

<div class="row">
        <p class="col-sm-12">Copy folder from source to target</p>
    </div>    
    
    <div class="row">
    <div class="col-sm-12 code pl-1-important"><code class="text-dark">cp [Source] [Target]</code></div>
    </div>  

 <!--start block of step-->
<div class="block-step">
<div class="row"><h3>Some notes to yourself about web</h3></div>
   
  
<div class="row">
    <p class="col-sm-12">Use "Spark Builder Generator" instead lombok, cuz it is simplify project and do project more mobile, dynamic</p>
</div>    

  
<div class="row">
    <p class="col-sm-12"> Locate jar file of plug-in on arch-linux in next path "/usr/lib/eclipse/plugins"</p>
</div>    

</div>
